* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

li {
list-style: none;
flex: 0 0 calc(33.333% - 16px);
max-height: 200px;
overflow: hidden;
width: 360px;
height: 300px;
flex-shrink: 0;
flex-basis: auto;
}

.gallery {
  display: flex;
row-gap: 24px;
flex-wrap: wrap;
flex-direction: row;
padding: 0;
margin: 0;
column-gap: 24px;
max-width: 1128px;
margin-left: auto;
  margin-right: auto;
}